
::-webkit-scrollbar-Archive {
    width: 10px;
    height: 10px;
    }
    
    ::-webkit-scrollbar-track-Archive {
      background: #0638ed ; 
      box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.5); 
      border-radius: 10px;
    }
     
    ::-webkit-scrollbar-thumb-Archive {
      background: #051ce8; 
      border-radius: 10px;
    
    }
    
    ::-webkit-scrollbar-thumb-Archive:hover {
      background: #08ec32; 
    }
    .all_table-Archive{
      height: 80vh;
      overflow: auto;
      padding-left: 5px;
   
    }
    .top_table-Archive{
      height: 90px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0.5px solid rgba(0, 0, 0, 0.1);
      background-color: #b3acac;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 4px 0px;        
      font-weight: bold;
      font-size: small;
    }
   
    .the_table-Archive{
      padding: 2px;
      min-height: 90px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: small;
      /* overflow-x: hidden; */
      border: 0.5px solid rgba(0, 0, 0, 0.1);
      background-color: #f3ede69b;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 4px 0px;  
    }
    
    .the_table-Archive:hover{
      background-color: rgb(255, 228,196 ,0.4);
    }
    
    .p_taskdetail-Archive{
      min-height: 90px;
      margin: 0;
      /* overflow-y: auto; */
      /* font-size: small; */
    }
    .cursor-Archive{
      cursor: pointer;
    }
    .cursor-Archive:active {
      transform: scale(1.10);
    }
   
    .p-title-Archive{
      color: rgb(24, 207, 33);
      font-weight: bolder;
      font-size: 50px;
    }
    .p-title-Archive-div{
      height: 9vh;
      width: 90vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    
    
    @media print {
      .table-container-Archive {
        overflow: visible !important;
        height: auto !important;
        width: 100vw !important;
      }
      .the_table-Archive{
  
       height: auto;
      }
      .p_taskdetail-Archive{
       height: auto;
      
      }
      .numOfCompleteMission{
        margin-left: 36vw !important;
      }
  
  
    }
    
  
.loader-complete-table {
   border: 16px solid #f3f3f3; 
   border-radius: 50%; 
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
   animation: spin 2s linear infinite; 
  
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
    
.bg-print{
  background-color: #662727;
}
    
    
    
    
    
    
    
    
    