.side_Nav{
    border-left:1px solid rgba(0, 0, 0, 0.218) ;
    height: 90vh;
}


.s_n_margin{
    margin-right: 25px;
}

.s_n_hover:hover{
    color: rgba(208, 39, 39, 0.91);
}

.iconsNavSide{
    margin-top: 80px;
}